body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  #app {
    font-family: Tahoma;
    font-size: 1rem;
    color: #222;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    position: relative;
    width: 768px;
    height: 480px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .2),
      0 10px 10px rgba(0, 0, 0, .2);
    background: linear-gradient(to bottom, #efefef, #ccc);
  
    .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform .5s ease-in-out;
      z-index: 100;
    }
  
    .overlay {
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
      background: linear-gradient(to bottom right, rgb(214, 43, 37), #a11a1a);
      color: #fff;
      transform: translateX(0);
      transition: transform .5s ease-in-out;
    }
  
    @mixin overlays($property) {
      position: absolute;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
      padding: 70px 40px;
      width: calc(50% - 80px);
      height: calc(100% - 140px);
      text-align: center;
      transform: translateX($property);
      transition: transform .5s ease-in-out;
    }
  
    .overlay-left {
      @include overlays(-20%);
      top: 32px;
    left: 28px;
    }
  
    .overlay-right {
      @include overlays(0);
   
      right: 36px;
      top: 29px;
  
    }
  }
  
  h2 {
    margin: 0;
  }
  
  p {
    margin: 20px 0 30px;
  }
  
  a {
    color: #222;
    text-decoration: none;
    margin: 15px 0;
    font-size: 1rem;
  }
  
  button {
    border-radius: 20px;
    border: 1px solid #a11a1a;
    background-color: #a11a1a;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 40px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    transition: transform .1s ease-in;
  
    &:active {
      transform: scale(.9);
    }
  
    &:focus {
      outline: none;
    }
  }
  
  button.invert {
    background-color: transparent;
    border-color: #fff;
  }
  
  form {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 90px 60px;
    width: calc(50% - 120px);
    height: calc(100% - 180px);
    text-align: center;
    background: linear-gradient(to bottom, #efefef, #ccc);
    transition: all .5s ease-in-out;
  
    div {
      font-size: 1rem;
    }
  
    input {
      background-color: #eee;
      border: none;
      padding: 8px 15px;
      margin: 6px 0;
      width: calc(100% - 30px);
      border-radius: 15px;
      border-bottom: 1px solid #ddd;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, .4), 
        0 -1px 1px #fff, 
        0 1px 0 #fff;
      overflow: hidden;
  
      &:focus {
        outline: none;
        background-color: #fff;
      }
    }
  }
  
  .sign-in {
    left: 0;
    z-index: 2;
    width: 50%;
    height: 100%;
  }
  
  .sign-up {
    left: 0;
    z-index: 1;
    opacity: 0;
    width: 50%;
    height: 100%;
  }
  
  .sign-up-active {
    .sign-in {
      transform: translateX(100%);
    }
  
    .sign-up {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show .5s;
    }
  
    .overlay-container {
      transform: translateX(-100%);
    }
  
    .overlay {
      transform: translateX(50%);
    }
  
    .overlay-left {
      transform: translateX(0);
    }
  
    .overlay-right {
      transform: translateX(20%);
    }
  }
  
  @keyframes show {
    0% {
      opacity: 0;
      z-index: 1;
    }
    49% {
      opacity: 0;
      z-index: 1;
    }
    50% {
      opacity: 1;
      z-index: 10;
    }
  }
  
  
  
  @keyframes showYtLink
  {
    0%{ bottom: -200px; }
    100%{ bottom: 20px; }
  }
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
    background-color: aliceblue;
    }

    .navigation-bar {
    height: 70px;
    width: 100%;
    text-align:center;
    }
    .navigation-bar img{
    float:left;
    }
    .navigation-bar ul {
    padding: 0px;
    margin-top: -49px;
    text-align: right;
    
    vertical-align:top;
    }

    .navigation-bar li {
    list-style-type: none;
    padding: 0px;
    display: inline;
    }

    .navigation-bar li a {
    color: black;
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
    }
    html{
        box-sizing: border-box;
    }
    *, *:after,*:before{
        box-sizing: inherit;
    }
    body{
      font-family: arial, sans-serif;
      color: #282828;
      font-size: 14px;
      padding: 60px;
    }
    a, a.active{
      color: inherit;
        text-decoration: none;
    }
    $time-rims: 0.6s;
    .content-train{
       
    }
    .train{
        position: absolute;
        left: 50%;
        margin-left: -185px;
        bottom: 40px;
        width: 370px;
        height: 178px;
        z-index: 0;
        animation: train 8s linear infinite;
        &:after{
            content: "";
            position: absolute;
            bottom: -5px;
            height: 10px;
            left: -5%;
            border-radius: 50%;
            width: 110%;
            background: rgba(0,0,0,0.5);
            z-index: -1;
        }
    }
    .rims-wrap{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
    }
    .rims{
        height: 50px;
        width: 50px;
        border: 2px solid #232020;
        position: absolute;
        border-radius: 50%;
        animation: rims $time-rims linear infinite;
        &:after{
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border: 3px solid #353334;
            position: absolute;
            border-radius: inherit;
        }
    }
    .center-rims{
        height: 16px;
        width: 16px;
        background: #353334;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -8px;
        margin-top: -8px;
        &:after{
            @extend .rays;
            transform: rotate(45deg);
        }
        &:before{
            @extend .rays;
            transform: rotate(60deg);
        }
    }
    .rays{
        height: 100%;
        width: 2px;
        background: #353334;
        position: absolute;
        left: 50%;
        margin-left: -1px;
    }
    
    
    @for $i from 1 through 5 {
      .rays:nth-child(#{$i}) { transform: rotate(45deg * $i)}
    }
    
    .front-st {
        left: 50px;
    }
    .front-nd {
        left: 140px;
    }
    .back-st {
        left: 215px;
    }
    .back-nd {
        left: 303px;
    }
    .wrap-rims-guide {
      position: absolute;
      height: 50px;
      width: 50px;
      left: 178px;
      top: 0;
      animation: wrap_rims_guide $time-rims linear infinite;
      z-index: 1;
    }
    .rims-guide{
        position: absolute;
        width: 258px;
        height: 4px;
        left: 50%;
        top: 0;
        margin-left: -129px;
        background: #949699;
        z-index: 1;
        border-radius: 10px;
        animation: rims_guide $time-rims linear infinite;
    }
    .point{
        height: 6px;
        width: 6px;
        position: absolute;
        top: -1px;
        background: #000;
        border: 2px solid #949699;
        z-index: 44;
        border-radius: 50%;
    }
    .point-front-st{
        @extend .point;
        left: 0;
    }
    .point-front-nd{
        @extend .point;
        left: 89px;
    }
    .point-back-st{
        @extend .point;
        left: 165px;
    }
    .point-back-nd{
        @extend .point;
        left: 251px;
    }
    @keyframes rims {
        from { transform: rotate(0); }
        to { transform: rotate(-360deg); }
    }
    
    
    @keyframes wrap_rims_guide {
        from { transform: rotate(0); }
        to { transform: rotate(-360deg); }
    }
    
    @keyframes rims_guide {
        from { transform: rotate(0); }
        to { transform: rotate(360deg); }
    }
    @keyframes train {
        0%{
            transform: translateX(1100px);
        }
        100%{
            transform: translateX(-1500px);
        }
    }
    .back-train {
        position: absolute;
        left: 206px;
        top: 78px;
        height: 66px;
        width: 153px;
        background: #333;
        z-index: 2;
        &:before{
            content: "";
            top: -26px;
            height: 26px;
            background: #666;
            width: 114%;
            left: -7%;
            z-index: 2;
            display: block;
            position: absolute;
        }
    }
    
    .front-train{
        position: absolute;
        left: 101px;
        top: 21px;
        height: 122px;
        width: 90px;
        background: #333;
        z-index: 2;
        &:before{
            content: "";
            top: -26px;
            height: 26px;
            background: #666;
            width: 114%;
            left: -7%;
            z-index: 2;
            display: block;
            position: absolute;
        }
    }
    
    .train-window{
        position: absolute;
        left: 50%;
        margin-left: -30px;
        top: 16px;
        width: 60px;
        height: 60px;
        border: 3px solid #010101;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border: 120px solid #FFF;
            height: 1px;
            width: 31px;
            border-top-color: #8ed7f1;
        }
    }
    .front-side{
        position: absolute;
        left: -52px;
        bottom: 0;
        width: 52px;
        height: 70px;
        background: #666;
        border-radius: 3px 0 0 3px;
        &:after{
            content: "";
            position: absolute;
            width: 22px;
            height: 34px;
            top: -34px;
            left: 50%;
            background: #78797c;
            margin-left: -11px;
        }
        &:before{
            content: "";
            position: absolute;
            width: 32px;
            height: 11px;
            top: -44px;
            left: 50%;
            background: #343234;
            margin-left: -16px;
        }
    }
    .light{
        position: absolute;
        top: 4px;
        left: -22px;
        width: 22px;
        height: 34px;
        background: #aaa;
        border-radius: 3px 0 0 3px;
        &:after{
            content: "";
            position: absolute;
            top: -10px;
            right: 4px;
            width: 5px;
            height: 95px;
            background: #999;
        }
        &:before{
            content: "";
            position: absolute;
            top: 85px;
            right: 4px;
            width: 44px;
            height: 10px;
            background: #aaa;
        }
    }
    .bumper{
        position: absolute;
        top: 40px;
        left: -48px;
        height: 49px;
        width: 39px;
        overflow: hidden;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            border: 60px solid #999;
            border-top-color: transparent;
            border-left: 0;
            border-right-width: 47px;
        }
    }
    .mudguard-wrap{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        z-index: 10;
    }
    .item-mudguard{
        position: absolute;
        top: -4px;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        border: 10px solid transparent;
        border-top-color: #666;
        border-right-color: #666;
        transform: rotate(-45deg) translateX(-2px);
        &:after{
            right: -6px;
            top: 31px;
            @extend .detail-mudguard;
        }
        &:before{
            left: -4px;
            top: -4px;
            @extend .detail-mudguard;
        }
    }
    .detail-mudguard{
        content: "";
        position: absolute;
        width: 10px;
        height: 4px;
        background: #666;
        transform: rotate(45deg);
    }
    
    .button{
        display: block;
        float: left;
        padding: 20px 40px;
        background: #fff;
        border-radius: 3px;
        border: 2px solid #0dba29;
        overflow: hidden;
        position: relative;
        &:after{
            transition: transform 0.3s ease;
            content: "";
            position: absolute;
            height: 200px;
            width: 400px;
            transform: rotate(45deg) translateX(-540px) translateY(-100px);
            background: #0dba29;
            z-index: 1;
        }
        &:before{
            transition: transform 0.5s ease;
            content: attr(title);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            color: #fff;
            z-index: 2;
            text-align: center;
            padding: 20px 40px;
            transform: translateY(200px);
        }
        &:hover{
            text-decoration: none;
            &:after{
                transform: translateX(-200px) translateY(-100px);
            }
            &:before{
                transform: translateY(0);
            }
        }
    }